/* css reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* QR code component */
:root {
  --white: #ffffff;
  --Light-Gray: #d5e1ef;
  --Gray: #7d889e;
  --Dark-Navy: #1f314f;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Outfit', sans-serif;

  background-color: var(--Light-Gray);

  height: 100vh;
}

.qr-code-card {
  background-color: var(--white);
  border-radius: 20px;

  width: 320px;
  height: 497px;
  padding: 16px;

  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.05);
}

.qr-code-image {
  border-radius: 10px;
  margin-bottom: 24px;

  width: 288px;
  height: 288px;
}

.qr-code-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 16px;

  width: 288px;
  height: 129px;
}

.qr-code-text-box > h1 {
  font-size: 22px;
  line-height: 28px;
  color: var(--Dark-Navy);

  width: 288px;
  height: 56px;
}

.qr-code-text-box > p {
  font-size: 15px;
  line-height: 19px;
  color: var(--Gray);
  letter-spacing: 0.188px;

  width: 256px;
  height: 57px;
}
