/* css reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* QR code component */
:root {
  --white: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  line-height: 1.3;

  background-color: var(--Light-gray);

  height: 100vh;
}

.qr-code-card {
  background-color: var(--white);
  border-radius: 20px;

  width: 320px;
  height: 497px;
  padding: 16px;
}

.qr-code-image {
  border-radius: 20px;
  margin-bottom: 16px;

  width: 288px;
  height: 288px;
}

.qr-code-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  width: 288px;
  height: 129px;
}

.qr-code-text-box > h1 {
  font-size: 22px;
  color: var(--Dark-blue);

  width: 288px;
  height: 56px;
}

.qr-code-text-box > p {
  color: var(--Grayish-blue);

  width: 256px;
  height: 57px;
}
